<h1>Words</h1>
<table class="table table-striped">
	<thead>
		<th>Text</th>
		<th>Letters</th>  
		<th>Delete</th>  
	</thead>
	<tbody>
	<% @words.each do |word| %>
		<tr>
			<td>
				<a href="<%= "/words/#{word.id}" %>">
    <%= "#{word.text}" %></a>
			</td>
			<td><%= word.letters %></td> 
			<td>
				<a href="<%= "/words/#{word.id}/edit" %>">
      Edit</a>
			</td>
			<td>
				<form action="<%= "/words/#{word.id}" %>" method="post">
					<input type="hidden" name="_method" value="delete" />
              	<button class="btn btn-danger" type="submit" > <i class="fa fa-ban"></i>
                Delete
              	</button>
				</form>
			</td>       
		</tr>
	<% end %>
	</tbody>
</table>
